<h3>New book</h3>
<!-- form_for部分 --> 
<%= form_for(book) do |f| %>
<h4>Title</h4>
<div class="field" >
<%= f.text_field :title ,class:"col-xs-12 m-5" %>
</div>

<h4>Opinion</h4>
<div class="field" >
<%= f.text_area :body ,class:"col-xs-12 m-5" %></br>
</div>
<br><%= f.submit 'Create Book',class:"col-xs-12 btn btn-primary" %></br>

<% end %>